$CONTENT_WIDTH: 50vw;

.App {
  display: flex;
  flex-direction: column;

  header {
    min-height: 64px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
  }

  main {
    display: flex;
    flex-flow: column;
    flex-grow: 3;
    min-width: $CONTENT_WIDTH;
    max-width: $CONTENT_WIDTH;
    margin: 0 auto;
  }

  footer {
    min-height: 40px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;

    span {
      color: #404040;

      .Heart {
        color: #A40000;
      }
    }
  }
}
