$ScrollbarColorsBackground: unset;
$ScrollbarColorsZone: unset;

* {
  scrollbar-width: thin;
  scrollbar-color: $ScrollbarColorsBackground $ScrollbarColorsZone;
}

/* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar {
  width: 12px;
}
*::-webkit-scrollbar-track {
  background: $ScrollbarColorsZone;
}

*::-webkit-scrollbar-thumb {
  background-color: $ScrollbarColorsBackground;
  border-radius: 20px;
  border: 3px solid $ScrollbarColorsZone;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
